<section class="mt-4">
    <div class="card-container">
        <h2 class="text-center comp-heading">Key Impact Areas</h2>
        <p class="text-center comp-para">Tracking what truly matters to measure the success and impact of eGramSwaraj
            across Panchayati Raj Institutions.</p>
        <div class="row keyRoll-container">
            <div class="card" *ngFor="let section of keyImpactArea">
                <div class="top-key-header">
                    <mat-icon class="emblemLogin" [svgIcon]="section.icon"></mat-icon>
                    <span>{{ section.title }}</span>
                </div>

                <div [ngSwitch]="section.type">

                    <!-- Default card layout -->
                    <ng-container *ngSwitchCase="'default'">
                        <div class="firstKey-main-content mt-3">
                            <div class="card key-card" *ngFor="let card of section.cards">
                                <h6>{{ card.heading }}</h6>
                                <p>{{ card.subtext }}</p>
                                <p *ngIf="card.additional">{{ card.additional }}</p>
                                <div *ngIf="card.progress !== undefined" class="progress-container mb-4">
                                    <div class="progress-text">{{ card.progress }} %</div>
                                    <div class="progress-bar">
                                        <div class="progress-fill" [style.width.%]="card.progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Planning layout -->
                    <ng-container *ngSwitchCase="'planning'">
                        <div class="second-key-card-container mt-3">
                            <div class="small-card-cotainer">
                                <div class="card second-small-card" *ngFor="let card of section.smallCards">
                                    <h6>{{ card.heading }}</h6>
                                    <p>{{ card.subtext }}</p>
                                    <div *ngIf="card.progress !== undefined" class="progress-container mb-2">
                                        <div class="progress-text">{{ card.progress }} %</div>
                                        <div class="progress-bar">
                                            <div class="progress-fill2" [style.width.%]="card.progress"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="firstKey-main-content mt-3">
                            <div class="card key-card">
                                <h6>{{ section.footerCard.heading }}</h6>
                                <p>{{ section.footerCard.subtext }}</p>
                                <div class="progress-container mb-4">
                                    <div class="progress-text">{{ section.footerCard.progress }} %</div>
                                    <div class="progress-bar">
                                        <div class="progress-fill3" [style.width.%]="section.footerCard.progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Accounting layout -->
                    <ng-container *ngSwitchCase="'accounting'">
                        <div class="firstKey-main-content mt-3">
                            <div class="card key-card" *ngFor="let card of section.cards">
                                <h6>{{ card.heading }}</h6>
                                <div class="accouting-para" *ngIf="card.accounting">
                                    <ng-container *ngFor="let key of objectKeys(card.accounting)">
                                        <p>{{ key }}:</p>
                                        <p>{{ card.accounting[key] }}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Audit layout -->
                    <ng-container *ngSwitchCase="'audit'">
                        <div class="second-key-card-container  mt-3">
                            <div class="small-card-cotainer">
                                <div class="card second-small-card" *ngFor="let card of section.smallCards">
                                    <h6>{{ card.heading }}</h6>
                                    <div class="forthcard-para my-3">
                                        <p *ngFor="let line of card.lines">{{ line }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="firstKey-main-content mt-3 mb-3">
                            <div class="card key-card">
                                <h6>{{ section.footerCard.heading }}</h6>
                                <p>{{ section.footerCard.subtext }}</p>
                                <div class="progress-container mb-4">
                                    <div class="progress-text">{{ section.footerCard.progress }} %</div>
                                    <div class="progress-bar">
                                        <div class="progress-fill3" [style.width.%]="section.footerCard.progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>

    </div>
</section>