<section class="mt-4">
    <div class="card-container">
        <h2 class="text-center comp-heading">Key Impact Areas</h2>
        <p class="text-center comp-para">Tracking what truly matters to measure the success and impact of eGramSwaraj across Panchayati Raj Institutions.</p>

        <div class="row keyRoll-container">
            <div class="card first-key-card">
                <div class="top-key-header">
                    <mat-icon class="emblemLogin" svgIcon="pachayatCouncil"></mat-icon>
                    <span>Panchayat/Council Status</span>
                </div>

                <div class="firstKey-main-content my-3">
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <p>Profile created</p>
                        <div class="progress-container  mb-4">
                            <div class="progress-text">85.00 %</div>
                            <div class="progress-bar">
                              <div class="progress-fill" style="width: 85%;"></div>
                            </div>
                          </div>
                          
                    </div>
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <p>Profile created</p>
                          <p>Elected Representation <br/>(Active)</p>
                    </div>
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <p>Profile created</p>
                        <div class="progress-container  mb-4">
                            <div class="progress-text">75.00 %</div>
                            <div class="progress-bar">
                              <div class="progress-fill" style="width: 75%;"></div>
                            </div>
                          </div>
                          
                    </div>
                </div>
            </div>


            <div class="card second-key-card">
                <div class="top-key-header">
                    <mat-icon class="emblemLogin" svgIcon="planingAndReporting"></mat-icon>
                    <span>Planning & Reporting</span>
                </div>

                <div class="my-3">
                    <div class="second-key-card-container">
                        <div class="small-card-cotainer">
                            <div class="card second-small-card">
                                <h6>332 ZPs</h6>
                                <p>Uploaded ZP Plan (2025-2026)</p>

                                <div class="progress-container   mb-2">
                                    <div class="progress-text">85.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill2" style="width: 85%;"></div>
                                    </div>
                                  </div>


                            </div>
    
                            <div class="card second-small-card">
                                <h6>332 ZPs</h6>
                                <p>Uploaded ZP Plan (2025-2026)</p>

                                <div class="progress-container  mb-2">
                                    <div class="progress-text">75.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill2" style="width: 75%;"></div>
                                    </div>
                                  </div>

                            </div>


                            <div class="card second-small-card">
                                <h6>332 ZPs</h6>
                                <p>Uploaded ZP Plan (2025-2026)</p>

                                <div class="progress-container  mb-2">
                                    <div class="progress-text">75.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill2" style="width: 75%;"></div>
                                    </div>
                                  </div>

                            </div>



                            <div class="card second-small-card">
                                <h6>332 ZPs</h6>
                                <p>Uploaded ZP Plan (2025-2026)</p>

                                <div class="progress-container  mb-2">
                                    <div class="progress-text">75.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill2" style="width: 75%;"></div>
                                    </div>
                                  </div>

                            </div>
                        </div>

                        <div class="firstKey-main-content mt-3">
                            <div class="card key-card">
                                <h6>2,57,542 GPs</h6>
                                <p>Profile created</p>
                                <div class="progress-container  mb-4">
                                    <div class="progress-text">75.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill2" style="width: 75%;"></div>
                                    </div>
                                  </div>
                                  </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="card third-key-card">
                <div class="top-key-header">
                    <mat-icon class="emblemLogin" svgIcon="Accounting"></mat-icon>
                    <span>Accounting</span>
                </div>
                <div class="firstKey-main-content my-3">
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <div class="accouting-para">
                            <p>OB:</p>
                            <p>Rs.44700.17 Cr.</p>

                            <p>Receipt:</p>
                            <p>Rs.4554.93 Cr.</p>


                            <p>Expenditure: </p>
                            <p>Rs.6537.33 Cr.</p>

                            
                        </div>
                    </div>
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <div class="accouting-para">
                            <p>ZPs: </p>
                            <p>567</p>

                            <p>BPs:</p>
                            <p>5,396</p>


                            <p>GPs: </p>
                            <p>2,13,947</p>

                            
                        </div>
                    </div>
                    <div class="card key-card">
                        <h6>2,57,542 GPs</h6>
                        <div class="accouting-para">
                            <p>OB:</p>
                            <p>Rs.44700.17 Cr.</p>

                            <p>Receipt:</p>
                            <p>Rs.4554.93 Cr.</p>

                            <p>Expenditure: </p>
                            <p>Rs.6537.33 Cr.</p>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="card forth-key-card">
                <div class="top-key-header">
                    <mat-icon class="emblemLogin" svgIcon="Audit"></mat-icon>
                    <span>Audit</span>
                </div>

                <div class="my-3">
                    <div class="second-key-card-container">
                        <div class="small-card-cotainer">
                            <div class="card second-small-card">
                                <h6>11,678</h6>
                               <div class="forthcard-para my-3">
                                <p>Registered</p>
                                <p>Auditors</p>
                                <p>(2024-2025)</p>
                               </div>
                            </div>

                            <div class="card second-small-card">
                                <h6>2,61,924</h6>
                               <div class="forthcard-para my-3">
                                <p>Registered</p>
                                <p>Auditors</p>
                                <p>(2024-2025)</p>
                               </div>
                            </div>

                            <div class="card second-small-card">
                                <h6>0</h6>
                               <div class="forthcard-para my-3">
                                <p>Observations</p>
                                <p>Recorded</p>
                                <p>(2024-2025)</p>
                               </div>
                            </div>


                            <div class="card second-small-card">
                                <h6>0</h6>
                               <div class="forthcard-para my-3">
                                <p>Audit Reports </p>
                                <p>Generated</p>
                                <p>(2024-2025)</p>
                               </div>
                            </div>
                        </div>

                        <div class="firstKey-main-content mt-3">
                            <div class="card key-card">
                                <h6>10 GPs</h6>
                                <p>Audit Plans (2024-2025)</p>

                                <div class="progress-container  mb-4">
                                    <div class="progress-text">15.00 %</div>
                                    <div class="progress-bar">
                                      <div class="progress-fill3" style="width: 15%;"></div>
                                    </div>
                                  </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>