.top-header {
    background: #3E3E3E;
    color: #fff;
    padding: 4px 24px;
    display: flex;
    justify-content: space-between;
}

.indian-flag a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
}

.indian-flag a span {
    font-size: 14px;
    position: relative;
    bottom: 3px;
    color: #fff;

}

.top-other-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.OpenInNew {
    width: 12px;
}

.skip-to-main {
    margin-right: 2rem;
}

.skip-to-main a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.top-logout {
    display: flex;
    width: 93.75px;
    height: 30px;
    padding: 7.5px 0px;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
    flex-shrink: 0;
    border-radius: 7.5px;
    background: var(--orga-main, linear-gradient(180deg, #F49A0B -14.67%, #EB5D0C 100%));
    font-size: 14px;
}