<div class="top-header">
  <div class="indian-flag">
    <a href="">
      <mat-icon svgIcon="InidanFlag"></mat-icon>
      <span
        >Government of India
        <mat-icon class="OpenInNew" svgIcon="OpenInNew"></mat-icon>
      </span>
    </a>
  </div>
  <div class="top-other-content">
    <div class="skip-to-main">
      <a href="">Skip to Main Content</a>
    </div>
    <div class="fushia-icon">
      <a href="">
        <mat-icon class="Fushia" svgIcon="Fushia"></mat-icon>
      </a>
      <mat-icon class="Devider" svgIcon="Devider"></mat-icon>
    </div>

    <div class="language-icon">
      <a href="">
        <mat-icon class="Language" svgIcon="Language"></mat-icon>
      </a>
      <mat-icon class="Devider" svgIcon="Devider"></mat-icon>
    </div>
<div class="language-icon">
  <button class="settingIcon"  mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon style="color:#f7f7f7;">settings</mat-icon>
  </button>
  <mat-icon class="Devider" svgIcon="Devider"></mat-icon>
</div>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item
          [matMenuTriggerFor]="languageMenu"
          #languageTrigger="matMenuTrigger"
          (mouseenter)="languageTrigger.openMenu()">
          <mat-icon style="color: #ed700b;">language</mat-icon>  Language
  </button>

  <button mat-menu-item>
    <mat-icon style="color: #ed700b;"> format_color_fill</mat-icon>  Themes
  </button>
</mat-menu>

<!-- Language Submenu -->
<mat-menu #languageMenu="matMenu">
  <button mat-menu-item><mat-icon style="color: #ed700b;">sort_by_alpha</mat-icon> English</button>
  <button mat-menu-item><mat-icon style="color: #ed700b;">sort_by_alpha</mat-icon> Hindi</button>
</mat-menu>


      
    <div class="language-icon">
        <a href="">
          <mat-icon style="color:#f7f7f7">notifications</mat-icon>
        </a>
        <mat-icon class="Devider" svgIcon="Devider"></mat-icon>
    </div>


    <button *ngIf="isLoggedIn" class="top-logout" [matMenuTriggerFor]="beforeMenu" mat-icon-button aria-label="Settings" (click)="getDialog('Settings')">
      <mat-icon class="LoginUser" svgIcon="LoginUser"></mat-icon>
      <span>Logout</span>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item><mat-icon>person</mat-icon> Profile</button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
    <button *ngIf="!isLoggedIn" class="top-logout" (click)="getLogin()">
      <mat-icon class="LoginUser" svgIcon="LoginUser"></mat-icon>
      <span>Login</span>
    </button>
  </div>
</div>
