<div class="top-header">
    <div class="indian-flag">
        <a href="">
            <mat-icon  svgIcon="InidanFlag"></mat-icon>
            <span>Government of India <mat-icon class="OpenInNew"  svgIcon="OpenInNew"></mat-icon> </span>  
        </a>
    </div>
    <div class="top-other-content">
        <div class="skip-to-main">
            <a href="">Skip to Main Content</a>
        </div>
        <div class="fushia-icon">
            <a href="">
                <mat-icon class="Fushia"  svgIcon="Fushia"></mat-icon>
            </a>
            <mat-icon class="Devider"  svgIcon="Devider"></mat-icon>
        </div>

        <div class="language-icon">
            <a href="">
                <mat-icon class="Language"  svgIcon="Language"></mat-icon>
            </a>
            <mat-icon class="Devider"  svgIcon="Devider"></mat-icon>
        </div>

        <button class="top-logout">
            <mat-icon class="LoginUser"  svgIcon="LoginUser"></mat-icon>
            Logout
        </button>
    </div>
</div>