.table-wrapper {
    margin-right: 1.5rem;
     margin-top: 1.5rem;
  }
  
  .header-name {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-align: left;
    width: 100%;
  }
  
  .table-toolbar {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
  
  .export-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  
  .search-field {
  
    .mat-form-field-wrapper {
      padding: 0 !important;
    }
  
    .mat-form-field-infix {
      padding: 0.2em 0 !important;
    }
  
    .mat-input-element {
      height: 1.6em;
      font-size: 13px;
      padding: 4px 0;
    }
  
    .mat-form-field-label {
      font-size: 12px;
    }
  }
  
  .table-container {
    overflow: auto;
    max-height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
    text-align: left;
  
    thead {
      position: sticky;
      top: 0;
      background-color: #f4f4f4;
      z-index: 1;
  
      th {
        border: 1px solid #ddd;
        padding: 0.75rem;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  
    td {
      border: 1px solid #ddd;
      padding: 0.75rem;
      white-space: nowrap;
    }
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
  
    .page-size-field {
      width: 150px;
    }
  
    .navigation-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: auto;
    }
  }
  
  @media (max-width: 768px) {
    .data-table th,
    .data-table td {
      padding: 0.5rem;
      font-size: 14px;
    }
  
    .table-container {
      max-height: none;
    }
  
    .table-wrapper {
      padding: 0.5rem;
    }
  
    .pagination-controls {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .data-table th,
    .data-table td {
      font-size: 12px;
    }
  
    .pagination-controls {
      flex-direction: column;
    }
  }
  

  .no-data {
    text-align: center;
    padding: 3rem !important;
    font-style: italic;
    color: #999;
  }

  mat-card{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #0000001A;
    border-radius: 12px;
    border: 1px solid var(--border-primary, #E1E7EC)
  }