<mat-card style="height:100%;padding-top:5px;position:relative;background-color: #FFFFFF;">
    <mat-card-header style="height:35px;">
        <div style="font-size:medium;font-weight: 500;width:100%;" class="custom-input-field">
            <span class="font-open-sans">{{chartData?.chartType}}</span>
        </div>

        <button mat-icon-button matTooltip="Change Chart Type" matTooltipPosition="left" matTooltipShowDelay="500"
            [matMenuTriggerFor]="menu" style="position: absolute; top: 0; right: 0; z-index: 10;">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="switchChart('donut')">
                <mat-icon>donut_large</mat-icon> Donut Chart
            </button>
            <button mat-menu-item (click)="switchChart('pie')">
                <mat-icon>pie_chart</mat-icon> Pie Chart
            </button>
       
        </mat-menu>
    </mat-card-header>
    <mat-card-content style="object-fit: cover; width:100%; height:100%; position: relative;">
        <div #chartdiv style="object-fit:cover;width:100%;height:100%;padding:0px;border-radius: 1rem;"></div>
        <div *ngIf="!chartData?.data || chartData.data.length === 0"
             class="no-data-found">
            Data not found
        </div>
    </mat-card-content>
    
</mat-card>




