


<div class="login-container">
  <div class="left-pane">
    <img src="icons/LoginPhone.svg" alt="Illustration" />
  </div>

  <div class="right-pane">
    <div class="login-card">
      <img src="icon/emblem.png" alt="Emblem" class="emblem" />
      <h3>Bug Tracker</h3>
      <p class="subtitle">Capacity Building and Training of Panchayati Raj Institution</p>
      <h4><mat-icon matPrefix style="margin-bottom: -3px;">lock</mat-icon>Login</h4>

      <form *ngIf="otpTemplate=='LOGIN'">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email Id</mat-label>
          <input matInput placeholder="Enter your Username" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <div class="actions">
          <button  mat-button="filled" color="primary" (click)="getVerificationCode()">Get verification code</button>
          <button matButton="filled" color="accent" type="reset">Reset</button>
        </div>

        <div class="forgot-link">
          <a href="#">Forgot Password?</a>
        </div>
      </form>
       <form *ngIf="otpTemplate=='OTP'">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter OTP</mat-label>
          <input matInput placeholder="Enter your otp" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <div class="actions">
          <button  mat-button="filled" color="primary" (click)="getVerificationCode()">Verify code</button>
        </div>
      </form>
    </div>
  </div>
</div>
