<div class="my-5">
    <div class="carousel-wrapper overflow-hidden">
        <div class="logo-carousel d-flex align-items-center">

            <div class="logo-item text-center mx-4">
                <img src="/assets/images/DigitalIndia.svg" alt="Swach Bharat" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/MOWCD.svg" alt="data.Gov" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/myGov.svg" alt="MyGov" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/swachBharat.svg" alt="IndiaGov" class="img-fluid" />
            </div>
            
              <div class="logo-item text-center mx-4">
                <img src="/assets/images/DigitalIndia.svg" alt="Swach Bharat" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/MOWCD.svg" alt="data.Gov" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/myGov.svg" alt="MyGov" class="img-fluid" />
            </div>
            <div class="logo-item text-center mx-4">
                <img src="/assets/images/swachBharat.svg" alt="IndiaGov" class="img-fluid" />
            </div>
          

        </div>
    </div>
</div>