<div class="select-wrapper" (clickOutside)="dropdownOpen = false">
  <div
    class="selected-box"
    [ngClass]="{ 'glowing-border': dropdownOpen }"
    (click)="dropdownOpen = !dropdownOpen"
  >
    <div *ngIf="selected; else placeholderTpl" class="selected-item">
      <img [src]="selected.flag" style="width: 18px" />
      <span>{{ selected[optionLabel] }}</span>
    </div>
    <ng-template #placeholderTpl>
      <span class="placeholder">{{ placeholder }}</span>
    </ng-template>
    <span
      *ngIf="showClear && selected"
      class="clear"
      (click)="clearSelection()"
      style="margin-right: 8px"
    >
      <mat-icon class="clear-icon close">close</mat-icon>
    </span>
    <span class="clear" *ngIf="showClear && !selected">
      <mat-icon class="clear-icon">keyboard_arrow_down</mat-icon>
    </span>
  </div>

  <div *ngIf="dropdownOpen" class="dropdown">
    <div class="search-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        [(ngModel)]="filterText"
        placeholder="Search..."
        class="search-input"
      />
      <mat-icon
        class="clear-icon clear-search"
        *ngIf="filterText"
        (click)="filterText = ''"
        >close</mat-icon
      >
    </div>

    <ng-container *ngIf="filteredOptions.length > 0; else noFilteredDataTpl">
      <div
        *ngFor="let option of filteredOptions"
        class="dropdown-item"
        (click)="selectOption(option)"
      >
        <img [src]="option.flag" style="width: 18px" />
        <span>{{ option[optionLabel] }}</span>
        <mat-icon
          *ngIf="selected?.code && option?.code == selected?.code"
          class="tick-mark"
          >check</mat-icon
        >
      </div>
    </ng-container>

    <ng-template #noDataTpl>
      <div class="no-data">No data available</div>
    </ng-template>

    <ng-template #noFilteredDataTpl>
      <div class="no-data">No data found</div>
    </ng-template>
  </div>
</div>
