<!-- <mat-toolbar class="main-header">
    <div class="toolbar-left">
      <img class="emblem" src="/icons/emblemofindian.svg" alt="Emblem of India" />
      <img class="container" src="/icons/HeaderIcon.svg" alt="Container" />
    </div>
  
    <span class="spacer"></span>
  
    <div class="toolbar-actions">
      <button mat-icon-button aria-label="Notification" (click)="getDialog('Notification')">
        <mat-icon svgIcon="Notification" class="nav-icon"></mat-icon>
      </button>
  
      <button mat-icon-button aria-label="Settings" (click)="getDialog('Settings')">
        <mat-icon svgIcon="Settings" class="nav-icon"></mat-icon>
      </button>
      <button *ngIf="isLoggedIn" [matMenuTriggerFor]="beforeMenu" mat-icon-button aria-label="Settings" (click)="getDialog('Settings')">
        <mat-icon>person_outline</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>	<mat-icon>person</mat-icon>
          Profile</button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          Logout</button>
      </mat-menu>
      <a *ngIf="!isLoggedIn" mat-flat-button (click)="getLogin()" target="_blank" class="admin-login-btn" style="cursor: pointer;">
        <mat-icon>person_outline</mat-icon>
        <span class="btn-text">Admin Login</span>
      </a>
    </div>
  </mat-toolbar> -->

  <div class="egram-header">
    <div class="logo left">
      <!-- <img src="icons/egramIcon.svg" alt="Right Logo" /> -->
      <!-- <img src="icons/HeaderLogo.svg" alt="Right Logo" /> -->


      <div class="logo-container d-flex gap-3">
        <img src="/assets/images/egsLogo.png" alt="No Data Found">
        <div class="text-logo d-flex flex-column">
          <span class="egs-logo-hindi">ईग्रामस्वराज</span>
          <span class="egs-logo-eng">eGramSwaraj</span>
          <span class="simplified-gradient">Simplified Work Based Accounting Application for Panchayati Raj</span>
        </div>
      </div>
    </div>
  
    <div class="content-center">
 
    </div>
  
    <div class="logo right">
      <img src="icons/Govlogo 2.svg" alt="Left Logo" />
    </div>
  </div>