<div class="egram-header">
    <div class="logo left">
     
      <!-- <img src="icons/egramIcon.svg" alt="Right Logo" /> -->
      <div class="logo-container d-flex gap-3">
        <img src="icons/egsLogo.png" alt="No Data Found">
        <div class="text-logo d-flex flex-column">
          <span class="egs-logo-hindi">ईग्रामस्वराज</span>
          <span class="egs-logo-eng">eGramSwaraj</span>
          <span class="simplified-gradient">Simplified Work Based Accounting Application for Panchayati Raj</span>
        </div>
      </div>
    </div>
  
    <div class="content-center">
      <div class="info-box">
        <div class="info-grid" *ngIf="loggedUser">
          <div><strong>State:</strong> <span style="color: #444444;"> {{ stateMap[loggedUser?.stateCode] || loggedUser?.stateCode }}</span> </div>
          <div><strong>ZP:</strong> <span style="color: #444444;"> {{loggedUser.grandParentLocalBodyName}}</span> </div>
          <div><strong>BP:</strong> <span style="color: #444444;"> {{loggedUser.parentLocalBodyName}}</span> </div>
          <div><strong>GP:</strong> <span style="color: #444444;"> {{loggedUser.localBodyName}}</span> </div>
          <div><strong>Name:</strong> <span style="color: #444444;"> {{loggedUser.name}}</span> </div>
          <div><strong>Designation:</strong><span style="color: #444444;"> {{loggedUser.designation}}</span></div>
          <div><strong>Email:</strong> <span style="color: #444444;"> {{loggedUser.email}}</span> </div>
          <div><strong>Mobile:</strong> <span style="color: #444444;"> {{loggedUser.telephone}}</span> </div>
        </div>
      </div>
    </div>
  
    <div class="logo right">
      <img src="icons/Govlogo 2.svg" alt="Left Logo" />
    </div>
  </div>