.egram-header {
  padding: 1.25rem 1rem;
  gap: 0.5rem;
  background-color: var(--main-header-bg);
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 113px;
}

.logo img {
  height: 80px;
  margin-top: -3px;
}

.content-center {
  text-align: center;
  flex: 1;
  padding: 0 20px;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}

.user-info strong {
  color: var(--primary-color);
}

.left,
.right {
  flex-shrink: 0;
}
.info-box {
  border: 1px solid #ffd9a3;
  padding: 16px 24px;
  margin: 10px auto;
  max-width: 1200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  border-radius: 10px;
  border: 1px solid #ffe1b9;
  background: rgba(255, 237, 213, 0.1);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 8px;
  column-gap: 40px;
  font-size: 14px;
  color: black;

  font-weight: 600;
}

.info-grid div {
  text-align: left;
}

.info-grid strong {
  color: var(--primary-color);
  font-weight: 700;
}

.egs-logo-hindi {
  color: #222;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.egs-logo-eng {
  color: #222;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.simplified-gradient {
  background: linear-gradient(
    90deg,
    #695894 0%,
    #ca4315 27.4%,
    #247ca5 50%,
    #64972f 77.4%,
    #9c1d20 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}