<div class="egram-header">
    <div class="logo left">
     
      <img src="icons/egramIcon.svg" alt="Right Logo" />
    </div>
  
    <div class="content-center">
      
      <div class="info-box">
        <div class="info-grid">
          <div><strong>State:</strong> Uttar Pradesh</div>
          <div><strong>ZP:</strong> <span style="color: #444444;"> Aligarh</span> </div>
          <div><strong>BP:</strong> <span style="color: #444444;"> Dhanipur</span> </div>
          <div><strong>GP:</strong> <span style="color: #444444;"> Ikari(43650)</span> </div>
          <div><strong>Name:</strong> <span style="color: #444444;"> PUSHPENDRA CHAUDHARY</span> </div>
          <div><strong>Designation:</strong> <span style="color: #444444;"> GPA</span></div>
          <div><strong>Email:</strong> <span style="color: #444444;"> Nikhil1989.2011.com</span> </div>
          <div><strong>Mobile:</strong> <span style="color: #444444;"> 8595825423</span> </div>
        </div>
      </div>
      
      
    </div>
  
    <div class="logo right">
      <img src="icons/Govlogo 2.svg" alt="Left Logo" />
    </div>
  </div>