<div class="egram-header">
    <div class="logo left">
     
      <img src="icons/egramIcon.svg" alt="Right Logo" />
    </div>
  
    <div class="content-center">
      
      <div class="info-box">
        <div class="info-grid">
          <div><strong>State:</strong> {{loggedUser.state}}</div>
          <div><strong>ZP:</strong> <span style="color: #444444;"> {{loggedUser.zp}}</span> </div>
          <div><strong>BP:</strong> <span style="color: #444444;"> {{loggedUser.bp}}</span> </div>
          <div><strong>GP:</strong> <span style="color: #444444;"> {{loggedUser.gp}}</span> </div>
          <div><strong>Name:</strong> <span style="color: #444444;"> {{loggedUser.name}}</span> </div>
          <div><strong>Designation:</strong><span style="color: #444444;"> {{loggedUser.designation}}</span></div>
          <div><strong>Email:</strong> <span style="color: #444444;"> {{loggedUser.email}}</span> </div>
          <div><strong>Mobile:</strong> <span style="color: #444444;"> {{loggedUser.mobile}}</span> </div>
        </div>
      </div>

    </div>
  
    <div class="logo right">
      <img src="icons/Govlogo 2.svg" alt="Left Logo" />
    </div>
  </div>