<h3 mat-dialog-title style="background-color: lightgray;"><span class="font-open-sans font-16">{{ data.title }}</span></h3>
<mat-dialog-content>
  <mat-selection-list>
    <mat-list-option *ngFor="let col of columns" [selected]="selectedFields.includes(col.field)" (click)="onToggle(col.field)">
      <span class="font-open-sans font-14">{{ col.header }}</span>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Apply</button>
</mat-dialog-actions>