 .report-header {
    text-align: center;
    margin-bottom: 20px;
    color: #313131;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.report-card {
    display: flex;
    width: 234.667px;
    height: 158px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.report-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.hover-dashboard:hover {
    background-color: rgb(132, 226, 132); 
}

.hover-panchayat:hover {
    background-color: rgb(201, 125, 201); 
}

.hover-planning:hover {
    background-color: rgb(226, 226, 139); 
}

.hover-accounting:hover {
    background-color: rgb(233, 129, 129); 
}

.hover-analytical:hover {
    background-color: rgb(154, 189, 201); 
}

.hover-schemes:hover {
    background-color: rgb(214, 104, 100); 
}

.card-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: 600;
    color: #0b132b;
    font-size: 15px;
    line-height: 1.3;
}
