 .report-header {
     text-align: center;
     margin-bottom: 20px;
     color: #313131;
     font-family: "Open Sans";
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .card-section{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     gap: 20px;
 }

 .report-card {
     display: flex;
     width: 234.667px;
     height: 158px;
     padding: 20px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 4px;
     border-radius: 10px;
     border: 1px solid #EBEBEB;
     background: #FBFBFB;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
     cursor: pointer;
     text-align: center;
 }

 .report-card:hover {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     color: white;
 }

 .report-card:hover .card-title {
     color: white !important;
 }

 .hover-dashboard:hover {
     background: linear-gradient(112deg, #7FBC41 28.32%, #4A761E 100.1%);
 }


 .hover-panchayat:hover {
     background: linear-gradient(111deg, #7B67AD 43.22%, #322A47 99.9%);
 }

 .hover-planning:hover {
     background: linear-gradient(0deg, rgba(91, 91, 91, 0.10) 0%, rgba(91, 91, 91, 0.10) 100%), linear-gradient(294deg, #FEC40B 0.46%, #FED24B 97.98%);
 }

 .hover-accounting:hover {
     background: linear-gradient(111deg, #BB2326 34.29%, #551011 100.1%);
 }

 .hover-analytical:hover {
     background: linear-gradient(114deg, #2E9FD4 46.85%, #18536E 96.65%);
 }

 .hover-schemes:hover {
     background: linear-gradient(110deg, #EC5724 40.72%, #B6370C 100%);
 }

 .card-icon {
     width: 48px;
     height: 48px;
     margin-bottom: 10px;
 }

 .card-title {
     font-weight: 600;
     color: #0b132b;
     font-size: 15px;
     line-height: 1.3;
 }