mat-sidenav-container {
    height: calc(100% - 12.563rem); //12.563
}

mat-sidenav {
//   width: 309px;
  height: 100%;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in;

  @media (max-width: 768px) {
    width: 100vw;
  }
}


mat-expansion-panel {
    background-color: #FFFFFF;
    border-radius: 0px;
}

::ng-deep.mat-expansion-panel-header-title {
    color: white !important;
}

::ng-deep.mat-expansion-panel-header {
    padding: 0px !important;
    padding-right: 20px !important;

    @media (max-width: 768px) {
        padding-right: 10px !important;
    }
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

mat-panel-title {
    span {
        margin-left: 8px;

        @media (max-width: 768px) {
            margin-left: 15px;
        }
    }
}

mat-panel-title a:hover {
    color: #3498db;
}

::ng-deep.mat-expansion-indicator::after {
    color: white !important;
}

::ng-deep.mat-drawer-inner-container{
    border-right: 0.5px solid #D6D6D6!important;
}
mat-expansion-panel-header {
    height: 38px;

    @media (max-width: 768px) {
        height: auto;
    }
}

.mat-drawer {
    border-bottom-right-radius: 0rem !important;
}

.filter {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #3D3D3D;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.filter-panel {
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        width: 100%;
        padding: 0.8rem;
    }
}

h4 {
    margin-bottom: 1rem;
    font-weight: bold;
}

section {
    margin-bottom: 1.5rem;
}

h5 {
    margin: 0.5rem 0;
    font-size: 13px;
    color: #555;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type='checkbox'] {
    margin-right: 0.5rem;
}

input[type='range'] {
    width: 100%;
}

button {
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color: #006eff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    @media (max-width: 768px) {
        padding: 0.5rem;
        font-size: 14px;
    }
}

.comparison {
    font-size: 12px;
    margin-top: -1rem;
}

.custom-icon-color {
    fill: #FFFFFF !important;
}

/* 
.filter-underline{
    margin-top: 0rem;
    border-bottom: 0.05px solid;
    border-color: lightgray;
} */


.mat-drawer {
    transition: width 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }
  
  .sidenav-opened {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    display: block !important;
    transition: transform 0.3s ease;
    width: 21.250rem;
  }
  
  .sidenav-closed {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    display: block !important;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    width: 4rem;
  }
 
  .main-content-opened {
 
    @media (max-width: 768px) {
        overflow-x: hidden;
        margin-left: 21.250rem;
        transition: margin-left 0.3s ease;
    }
 
  }
  
  .main-content-closed {

    @media (max-width: 768px) {
        overflow-x: hidden;
        margin-left: 4rem;
        transition: margin-left 0.3s ease;
    }
   
  }
  /* .filter1{
    margin-bottom: 1rem;
    border-bottom: 0.05px solid;
    border-color: lightgray;
  } */

  ::ng-deep .mat-expansion-panel-spacing{
    // border-left: 6px solid var(--primary-color);
    margin-top: 10px !important;
    // border-radius: 2px !important;
  }
  .top-menu-title{
    display: flex;
    gap: 5px;
  }
  .menu-icons{
    color: var(--primary-color);
    padding-right: 5px;
  }
  .sub-menus{
    border-left: 0 !important;
  }
  ::ng-deep  .mat-expansion-panel-header-title{
    color: #252525 !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    padding: 3px 6px;
    line-height: normal;
    height: 44px;
    margin-top: 5px !important;
  }
  ::ng-deep .mdc-button{
    background: white !important;
    color: #252525 !important;
  }
  ::ng-deep .mat-expansion-panel-header{
    height: unset !important;
}
::ng-deep  .mdc-button__label{
    margin-right: auto;
}
.add-view-icon{
    margin-right: 7px!important;
    width: 24px!important;
    height: 24px!important;
}
::ng-deep .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
        margin-right: 0px !important;
}

button {
    font-weight: 600;
}
::ng-deep .mat-expansion-panel-body div {
    margin-left: 0 !important;
}

::ng-deep .mat-expansion-panel-header-title {
    height: 34px;
    transition: color 0.3s ease;
  }
  
  ::ng-deep .mat-expansion-panel {
    border-radius: 10px !important;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  ::ng-deep .mat-expansion-panel:not(.mat-expanded) 
    .mat-expansion-panel-header:not([aria-disabled="true"]):hover {
    background: var(--background-color) !important;
    transition: background 0.3s ease;
  }
  
  ::ng-deep .mat-expansion-panel:not(.mat-expanded) 
    .mat-expansion-panel-header:not([aria-disabled="true"]):hover 
    .mat-expansion-panel-header-title {
    color: white !important;
  }
  
  ::ng-deep .mdc-button {
    height: 34px !important;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  ::ng-deep .mdc-button:hover {
    background: #FFEFDF !important;
  }
  

  ::ng-deep .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  /* Scrollbar styling for Webkit browsers (Chrome, Edge, Safari) */
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
    width: 4px; /* Change this value for width */
  }
  
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background: #e7905d;
    border-radius: 4px;
  }
  
  ::ng-deep .mat-drawer-inner-container::-webkit-scrollbar-thumb:hover {
    background: #EB5D0C;
  }
  


::ng-deep .mdc-button{
  text-align: left;
}

  .active-menu,
.active-submenu,
.active-subsubmenu {
    font-weight: bold;
    border-right: 5px solid var(--orga-main, #F49A0B);
    background: #FFEFDF !important;
}

  

.sidenav-closed .mat-icon-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
