
<!-- Financial Year -->
<div class="custom-margin-top">

  <app-custom-select
    [options]="financialYr"
    [(selected)]="selectedFinancialYear"
    optionLabel="name"
    filterBy="name"
    [showClear]="true"
    [selectedFinancialYear]="selectedFinancialYear"
    placeholder="Select Financial Year"
    (addItemEvent)="onFinYrSelected($event)"

  ></app-custom-select>

</div>

  
<!-- State -->
<div class="custom-margin-top">
  <app-custom-select
    *ngIf="opened"
    [options]="stateList"
    [(selected)]="selectedState"
    optionLabel="value"
    filterBy="value"
    [showClear]="true"
    placeholder="Select State"
    (addItemEvent)="onStateSelected($event)"
  ></app-custom-select>
</div>
<!-- District -->
<div class="custom-margin-top">
  <app-custom-select
    *ngIf="selectedState"
    [options]="districtList"
    [(selected)]="selectedDistrict"
    optionLabel="value"
    filterBy="value"
    [showClear]="true"
    placeholder="Select District"
    (addItemEvent)="onDistrictSelected($event)"
  ></app-custom-select>
</div>
<!-- Block -->
<div class="custom-margin-top">
  <app-custom-select
    *ngIf="selectedDistrict"
    [options]="blockList"
    [(selected)]="selectedBlock"
    optionLabel="value"
    filterBy="value"
    [showClear]="true"
    placeholder="Select Block"
    (addItemEvent)="onBlockSelected($event)"
  ></app-custom-select>
</div>
<!-- GP -->
<div class="custom-margin-top">
  <app-custom-select
    *ngIf="selectedBlock"
    [options]="gpList"
    [(selected)]="selectedGp"
    optionLabel="value"
    filterBy="value"
    [showClear]="true"
    placeholder="Select GP"
    (addItemEvent)="onGpSelected($event)"
  ></app-custom-select>
</div>




<mat-accordion *ngIf="opened" class="filter-accordion">
  <!-- Schemes Accordion -->
  <mat-expansion-panel *ngFor="let scheme of schemeList">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-header font-open-sans font-14">
        <span class=" font-open-sans font-14">{{ scheme.filtervalue }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="checkbox-group" [class.scrollable]="scheme.filterData.length > 5">
      <label *ngFor="let data of scheme.filterData" class="filter-checkbox">
        <input type="checkbox" [(ngModel)]="data.checked" (change)="getSchemeComponentsBySchemeCodes()" />
       <span class=" font-open-sans font-14"> {{ data.value }} </span>
      </label>
    </div>
  </mat-expansion-panel>

  <!-- Scheme Component Accordion -->
  <mat-expansion-panel *ngIf="schemeComponentList?.length">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-header font-open-sans font-14">
        <span class=" font-open-sans font-14">{{ schemeComponentList[0].filtervalue }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="checkbox-group" [class.scrollable]="schemeComponentList[0].filterData.length > 5">
      <label *ngFor="let comp of schemeComponentList[0].filterData" class="filter-checkbox">
        <input type="checkbox" [(ngModel)]="comp.checked" />
        <span class=" font-open-sans font-14">{{ comp.value }}</span>
      </label>
    </div>
  </mat-expansion-panel>

  <!-- Theme Accordion -->
<mat-expansion-panel *ngIf="themeList?.length">
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-header">
      <span class=" font-open-sans font-14">{{ themeList[0].filtervalue }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="checkbox-group" [class.scrollable]="themeList[0].filterData.length > 5">
    <label *ngFor="let theme of themeList[0].filterData" class="filter-checkbox">
      <input type="checkbox" [(ngModel)]="theme.checked" />
      <span class=" font-open-sans font-14">{{ theme.value }}</span>
    </label>
  </div>
</mat-expansion-panel>

</mat-accordion>




<!-- <div *ngIf="opened" class="text-center mt-3">
    <button class="btn btn-success" (click)="applyFilter()">filter</button>
</div>  -->