<app-header (openedStatus)="getOpenedStat($event)"></app-header>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <div *ngIf="appList" class="app-div">
            <ul class="nav-list" *ngFor="let app of appList">
                <li class="nav-list-item"
                    *ngIf="app.childApp==false">
                    <mat-icon>{{app.icon}}</mat-icon>
                    <a>{{app.appName}}</a>
                </li>
                <mat-accordion multi="false" *ngIf="app.childApp==true">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="myClass">
                                <mat-icon>{{app.icon}}</mat-icon>
                                <span>{{app.appName}}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-divider></mat-divider>
                        <div class="app-div" *ngFor="let subApp of app.subApps">
                            <li class="nav-list-item">
                                <mat-icon>{{subApp.icon}}</mat-icon>
                                <a>{{subApp.subAppName}}</a>
                            </li>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>