<mat-card class="card-container">
  <mat-card-title class="open-sans form-title">Map Bank Branch</mat-card-title>
  <!-- <mat-divider></mat-divider> -->

  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="open-sans">Select Bank Name</mat-label>
        <mat-select
          formControlName="bankName"
          required
          (selectionChange)="onBankSelect($event)"
        >
          <mat-option *ngFor="let bank of bankList" [value]="bank">{{
            bank.bankName
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select District Panchayat</mat-label>
        <mat-select
          formControlName="districtPanchayat"
          required
          (selectionChange)="onDistrictSelect($event)"
        >
          <mat-option *ngFor="let dp of districtPanchayats" [value]="dp">{{
            dp.entityName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
    <label class="font-bold">Available Branch List for Mapping</label>
    <div class="toggle-data-box">
      <div class="toggle-data">
        <section
         *ngIf="AvailableBranchListMappClone.length>0"
          class="example-section"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <!-- All Branches Checkbox -->
          <mat-checkbox
            class="example-margin"
            [checked]="AllCheckedAvailableBnch"
            (change)="selecteAllAvalBnch($event)"
            color="primary"
          >
            All Branches
          </mat-checkbox>

          <mat-form-field appearance="outline" class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Search Branch"
              type="text"
              [(ngModel)]="searchTextAvailBnch"
              (input)="getFilterAvailBnch()"
            />
          </mat-form-field>
        </section>
        <label class="text-check" *ngFor="let b of AvailableBranchListMapp">
          <mat-checkbox
            class="example-margin"
            [checked]="selectedIds.has(b.branchCode)"
            (change)="toggleSelection(b, b.branchCode, 'availableBranch')"
          ></mat-checkbox>
          <span> {{ b.branchName }}</span>
        </label>
      </div>
      <div class="toggle-data-button">
        <button (click)="moveRight()" class="toggle-btn">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button (click)="moveLeft()" class="toggle-btn">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <div class="toggle-data">
        <section *ngIf="rightBranchListClone.length>0"
          class="example-section"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <mat-checkbox
            class="example-margin"
            [checked]="AllCheckedMapBnch"
            (change)="selecteAllMapBnch($event)"
            >All Map Branches</mat-checkbox
          >
          <mat-form-field appearance="outline" class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Search Branch"
              type="text"
              [(ngModel)]="searchTextMapBnch"
              (input)="getFilterMapBnch()"
            />
          </mat-form-field>
        </section>
        <label class="text-check" *ngFor="let b of rightBranchList">
          <mat-checkbox
            class="example-margin"
            [checked]="selectedIds.has(b.branchCode)"
            (change)="toggleSelection(b, b.branchCode, 'mapBranch')"
          ></mat-checkbox>
          <span> {{ b.branchName }}</span>
        </label>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-warning" (click)="onClear()">
        <mat-icon>clear</mat-icon>&nbsp;Clear
      </button>

      <button (click)="onClose()" class="btn btn-danger">
        <mat-icon>close</mat-icon>&nbsp;Close
      </button>
      <button class="btn btn-success" (click)="onSave()">
        <mat-icon>save</mat-icon>&nbsp;Save
      </button>
    </div>

</mat-card>
