<mat-card class="card-container">
  <mat-card-title class="open-sans">Map Bank Branch</mat-card-title>
  <!-- <mat-divider></mat-divider> -->

  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="open-sans">Select Bank Name</mat-label>
        <mat-select
          formControlName="bankName"
          required
          (selectionChange)="onBankSelect($event)"
        >
          <mat-option *ngFor="let bank of bankList" [value]="bank">{{
            bank.bankName
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select District Panchayat</mat-label>
        <mat-select
          formControlName="districtPanchayat"
          required
          (selectionChange)="onDistrictSelect($event)"
        >
          <mat-option *ngFor="let dp of districtPanchayats" [value]="dp">{{
            dp.entityName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <p>Available Branch List for Mapping</p>
    <div *ngIf="AvailableBranchListMapp" style="display: flex; height: 300px;">
       <div style="flex: 1; border: 1px solid #ccc; padding: 10px; overflow-y: auto;">
            <p *ngFor="let barch of AvailableBranchListMapp">{{barch.branchName}}</p>
      </div>
      <div style="flex: 1; border: 1px solid #ccc; padding: 10px; overflow-y: auto;">
        
      </div>
    </div>

    <div class="form-actions">
      <button mat-button color="primary" (click)="onSave()">Save</button>
      <button mat-button color="accent" (click)="onClear()">Clear</button>
      <button mat-button color="warn" (click)="onClose()">Close</button>
    </div>
  </form>
</mat-card>
