<div class="card-wrapper">
    <div class="report-header">
        <p>Supporting Documents</p>
    </div>
    <div class="report-para">
        <p>Access essential documents to help you navigate through the eGramSwaraj platform effectively</p>
    </div>
    <mat-card>
        <div class="header-container1">
            <div class="header-actions1">
                <button mat-stroked-button class="action-button" [ngClass]="{'active-all': activeFilter === 'all'}"
                    (click)="filterDocuments('all')">
                    <span>All Documents</span>
                </button>

                <button mat-stroked-button class="action-button" [ngClass]="{'active-pfms': activeFilter === 'pfms'}"
                    (click)="filterDocuments('pfms')">
                    <span>eGramSwaraj-PFMS</span>
                </button>

                <button mat-stroked-button class="action-button" [ngClass]="{'active-sops': activeFilter === 'sops'}"
                    (click)="filterDocuments('sops')">
                    <span>SOPs</span>
                </button>

                <button mat-stroked-button class="action-button"
                    [ngClass]="{'active-manual': activeFilter === 'manual'}" (click)="filterDocuments('manual')">
                    <span>User Manual</span>
                </button>


                <mat-form-field appearance="outline" class="search-field">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput placeholder="Search" type="text" [(ngModel)]="globalFilter"
                        (input)="applyGlobalFilter()" />
                </mat-form-field>
                <button mat-stroked-button class="action-button1">

                    <span>Latest First</span>
                    <mat-icon>expand_more</mat-icon>
                </button>


            </div>
        </div>

        <!-- <div class="header-container">
            <div class="header-actions">
               
            </div>
        </div> -->

        <div *ngFor="let doc of pagedData()" class="document-card">

            <div class="doc-icon">
                <img src="icons/pdficon.svg" alt="PDF" class="doc-file-icon" />

            </div>

            <div class="doc-content">
                <h3 class="doc-title">{{ doc.title }}</h3>
                <p class="doc-description">{{ doc.description }}</p>
                <div class="doc-meta">
                    <span><mat-icon>calendar_today</mat-icon> Updated: {{ doc.updated }}</span>
                    <span><mat-icon>language</mat-icon> Language: {{ doc.language }}</span>
                    <span><mat-icon>description</mat-icon> File Size: {{ doc.fileSize }}</span>
                </div>
            </div>

            <button mat-stroked-button class="preview-btn">
                <mat-icon>visibility</mat-icon>
                Preview
            </button>
            <button mat-flat-button class="download-btn">
                <mat-icon>download</mat-icon>
                Download
            </button>
        </div>

        <div class="custom-footer">
            <div class="rows-dropdown-wrapper">
                <mat-form-field appearance="outline" class="page-size-field" style="width: 100px;">
                    <mat-label>Page</mat-label>
                    <mat-select [value]="pageSize" (selectionChange)="onPageSizeChange($event.value)">
                        <mat-option *ngFor="let size of [5, 10, 20, 50]" [value]="size">{{ size }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="pagination-controls">
                <button mat-icon-button (click)="prevPage()" [disabled]="currentPage === 1 || pageNumbers.length === 0">
                    <mat-icon>skip_previous</mat-icon>
                </button>

                <ng-container *ngIf="pageNumbers.length > 0">
                    <button class="page-btn" *ngFor="let page of pageNumbers" [class.active]="page === currentPage"
                        (click)="goToPage(page)">
                        {{ page }}
                    </button>
                </ng-container>

                <button mat-icon-button (click)="nextPage()"
                    [disabled]="currentPage === totalPages || pageNumbers.length === 0">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>