<mat-toolbar class="main-header">
    <img class="Emblem" src="/icons/emblemofindian.svg" alt="Emblem of India" />
    <img class="container" src="/icons/Container.svg" alt="Container" />

    <span class="example-spacer"></span>

    <div class="toolbar-actions">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Notification">
            <mat-icon svgIcon="Notification" class="nav-icon"></mat-icon>
        </button>
        |
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Settings">
            <mat-icon svgIcon="Settings" class="nav-icon"></mat-icon>
        </button>
        |
        <div class="example-button-row">
            <a mat-flat-button href="https://www.google.com/" target="_blank">
                <mat-icon>person_outline</mat-icon>
                Admin Login
            </a>
        </div>
    </div>
</mat-toolbar>