section {
    margin-bottom: 1.5rem;
}

h5 {
    margin: 0.5rem 0;
    font-size: 13px;
    color: #555;
}



label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type='checkbox'] {
    margin-right: 0.5rem;
}

input[type='range'] {
    width: 100%;
}

.custom-tooltip {
    position: absolute;
    top: -30px; /* position above slider */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    z-index: 10;
    transition: left 0.1s ease;
  }
  
  