p{
    margin-bottom: 0;
}
.dashboard-comp-para{
    color: #444;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    margin-bottom: 5px;
}

.dashboard-card{
    background-image: url('/icons/dashboard-comp-bg.svg');
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: center 100px;
    background-color: #FFFFFF;
}