
<h4 class="title">Welcome to eGramSwaraj Portal</h4>
<mat-card class="main-card dashboard-card">
    <mat-card-content>
      <p class="dashboard-comp-para">eSwaraj is one of the applications developed as part of Panchayat Enterprise Suite (PES) under e-panchayat Mission Mode Project (MMP) of Ministry of Panchayati Raj (MoPR).</p>
      <p class="dashboard-comp-para">eSwaraj aims to bring in better transparency and strengthening the e-Governance in Panchayati Raj Institutions (PRIs) across the country through decentralized planning, progress reporting, and work-based accounting.</p>
    </mat-card-content>
</mat-card>
