
<h4 class="title">Welcome to eGramSwaraj Porta</h4>
<mat-card class="main-card">
    <mat-card-content>
        <p>eSwaraj is one of the applications developed as part of Panchayat Enterprise Suite (PES) under e-panchayat Mission Mode Project (MMP) of Ministry of Panchayati Raj (MoPR). eSwaraj aims to bring in better transparency and strengthening the e-Governance in Panchayati Raj Institutions (PRIs) across the country through decentralized planning, progress reporting, and work-based accounting</p>
    </mat-card-content>
</mat-card>
