.yellow {
  background: linear-gradient(94.69deg, #FEF2C7 0%, #FFDB5B 49.92%);
}

.blue {
background: linear-gradient(94.69deg, #DAE9FF 0.06%, #AFCFFF 49.98%);

}

.green {
 background: linear-gradient(94.69deg, #DCFCE6 0.13%, #9EF3B9 50.05%);

  color: #1b5e20;
}

.purple {
background: linear-gradient(94.66deg, #F1E5FE -0.13%, #DDBCFF 50.11%);

  color: #4a148c;
}

.orange {
background: linear-gradient(94.66deg, #FFEDD5 -0.06%, #FFCB86 50.18%);
border: 1px solid #FFC77D;
box-shadow: 0px 4px 10px 0px #0000001A;

  color: #e65100;
}

/////////

.card-container {
  display: flex;
  justify-content: space-around;
//   flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.custom-card {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;

  h3 {
    margin: 0;
    font-size: 16px;
  }

  p {
    margin: 4px 0 0;
    font-size: 13px;
    font-weight: normal;
    opacity: 0.7;
  }

  &:hover {
    transform: translateY(-5px);
  }
}


/* Color classes */
.yellow {
  background: linear-gradient(94.69deg, #fef2c7 0%, #ffdb5b 49.92%);
  border: 1px solid #FBE07D;
  box-shadow: 0px 4px 10px 0px #0000001a;
  h3 {
    color: #934210;
  }
  p {
    color: #ae6305;
  }
}

.blue {
  background: linear-gradient(94.69deg, #dae9ff 0.06%, #afcfff 49.98%);
  border: 1px solid #AECFFF;
  box-shadow: 0px 4px 10px 0px #0000001a;
  h3 {
    color: #3a58b6;
  }
  p {
    color: #4479ee;
  }
}

.green {
  background: linear-gradient(94.69deg, #dcfce6 0.13%, #9ef3b9 50.05%);
  border: 1px solid #70FF9D;
  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #31784b;
  }
  p {
    color: #18a34a;
  }
}

.purple {
  background: linear-gradient(94.66deg, #f1e5fe -0.13%, #ddbcff 50.11%);
  border: 1px solid #EBD6FF;
  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #8351ae;
  }
  p {
    color: #a453ed;
  }
}

.orange {
  background: linear-gradient(94.66deg, #ffedd5 -0.06%, #ffcb86 50.18%);
  border: 1px solid #FFC77D;
  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #b93e12;
  }
  p {
    color: #ed692b;
  }

}
.vill-img {
  position: relative;
  background-image: url('/assets/images/village.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 /*  height: 250px; */
 height: 500px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  color: white;
  overflow: hidden;
}

.vill-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.90) 0%, rgba(16, 16, 16, 0.77) 50%, rgba(24, 24, 24, 0.70) 74.04%, rgba(44, 44, 44, 0.54) 100%);
  z-index: 0;
}

 .vill-content {
  position: relative;
  z-index: 1;
  /*  max-width: 600px; */
  padding-left: 35px; 
  width: 50%;     
} 




.title {
color: #FFF;
font-family: "Open Sans";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: lowercase;
}

.subtitle {
 color: #FFF;
font-family: "Open Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: lowercase;

white-space: nowrap;

text-overflow: ellipsis;
}

.description {
color: #FFF;
font-family: "Source Sans Pro";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;


}

.explore-button {
  background-color: white;
  color: #ff6600 !important;
  padding: 5px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;

}