.yellow {
  background: linear-gradient(94.69deg, #fef2c7 0%, #ffdb5b 49.92%);
}

.blue {
  background: linear-gradient(94.69deg, #dae9ff 0.06%, #afcfff 49.98%);
}

.green {
  background: linear-gradient(94.69deg, #dcfce6 0.13%, #9ef3b9 50.05%);

  color: #1b5e20;
}

.purple {
  background: linear-gradient(94.66deg, #f1e5fe -0.13%, #ddbcff 50.11%);

  color: #4a148c;
}

.orange {
  background: linear-gradient(94.66deg, #ffedd5 -0.06%, #ffcb86 50.18%);
  border: 1px solid #ffc77d;
  box-shadow: 0px 4px 10px 0px #0000001a;

  color: #e65100;
}

/////////

.card-container {
  display: flex;
  justify-content: space-around;
  //   flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  height: auto;
}

.custom-card {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;

  h3 {
    margin: 0;
    font-size: 16px;
  }

  p {
    margin: 4px 0 0;
    font-size: 13px;
    font-weight: normal;
    opacity: 0.7;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

/* Color classes */
.yellow {
  background: linear-gradient(94.62deg, #7b67ad -0.01%, #322a47 100.05%);
  box-shadow: 0px 4px 10px 0px #0000001a inset;

  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.blue {
  background: linear-gradient(94.62deg, #2e9fd4 0.05%, #18536e 100.12%);

  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.green {
  background: linear-gradient(94.64deg, #7fbc41 0.12%, #4a761e 99.86%);

  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.purple {
  background: linear-gradient(94.62deg, #bb2326 0.06%, #551011 99.75%);

  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.orange {
  background: linear-gradient(94.17deg, #ec5724 -0.08%, #b6370c 99.32%);

  box-shadow: 0px 4px 10px 0px #0000001a;

  h3 {
    color: #ffffff;
  }

  p {
    color: #ffffff;
  }
}

.vill-img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 300vw;
  // animation: slide 7s infinite ease-in-out;

}

.carousel img {
  width: 100vw;
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0vw);
  }

  30% {
    transform: translateX(0vw);
  }

  40% {
    transform: translateX(-100vw);
  }

  70% {
    transform: translateX(-100vw);
  }

  80% {
    transform: translateX(-200vw);
  }

  100% {
    transform: translateX(-200vw);
  }
}

.first-carousel-text1{
  position: absolute;
    margin-bottom: 0;
    top: 5rem;
    left: 12rem;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
}


.carousel-item {
  position: relative;
  display: inline-block;
}

.first-carousel-text1 {
  position: absolute;
  top: 15%; 
  left: 3%;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0; 
}
.first-carousel-text2 {
  position: absolute;
  top: 38%;
  left: 3%;
  color: #282828;
  font-size: 1rem;
  font-weight: 400;
  margin: 0; 
  width: 20%;
}
.carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
}


