<app-top-header></app-top-header>
<app-header></app-header>
<app-sub-header></app-sub-header>

<div class="vill-img">
  <div class="vill-content">
    <h2 class="title">eGramSwaraj</h2>
    <p class="subtitle">simplified work based accounting application for panchayati raj</p>
    <p class="description">
      To strengthen e-Governance in Panchayati Raj Institutions (PRIs) across the country, Ministry of Panchayati Raj (MoPR)
      has launched eGramSwaraj, a user friendly web-based portal. eGramSwaraj aims to bring in better transparency in the
      decentralised planning, progress reporting and work-based accounting.
    </p>
    <button mat-button class="explore-button">Explore More</button>
  </div>
</div>


<div class="card-container">
  <mat-card class="custom-card yellow">
    <h3>Swacchh Survekshan</h3>
    <p>Gramin 2023</p>
  </mat-card>

  <mat-card class="custom-card blue">
    <h3>Bank Performance</h3>
    <p>Details</p>
  </mat-card>

  <mat-card class="custom-card green">
    <h3>Bank Wise Pending</h3>
    <p>Details</p>
  </mat-card>

  <mat-card class="custom-card purple">
    <h3>Weather Forecast</h3>
    <p>Updates</p>
  </mat-card>

  <mat-card class="custom-card orange">
    <h3>Planning & Reporting</h3>
    <p>Dashboard</p>
  </mat-card>
</div>

<app-key-impact-area></app-key-impact-area>
<app-reports></app-reports>
<app-supporting-document></app-supporting-document>
<app-public-footer></app-public-footer>